


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* after resetting . */

/* ADDING STYLE TO HTML FROM HERE. */


html{
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    width: 100%;
}

.headcontainer{
    width: 100%;
}

header{
    background-color: #c78c06;
}
/* ADDING STYLE TO navigation FROM HERE. */
.nav {
    text-align: center;
    width: 100%;
}
  
.nav a {
    display: block;
    padding: 12px;
    background-color: #222;
    color: #c78c06;
    text-decoration: none;
}

.nav a:hover {
    color: #222;
    background-color: #c78c06;
}
  
.nav a.main {
    color: #222;
    background-color: #c78c06;
}
/* ADDING STYLE TO search bar FROM HERE. */
  
.search-bar input[type=text] {
    width: 85%;
    border: none;
    padding: 10px;
    font-size: 12px;
}

.search-bar{
    background-color: #222;
    display: flex;
}
/* styling the search button. */
.sbutton{
    border: 0.5px solid #c78c06;
    background-color: transparent;
    outline: none;
}


.fa-magnifying-glass{
    border: 1px solid #c78c06;
    font-size: 17px;
    padding: 8px;
    color: #c78c06;
    background: #222;
}

.welcome3s img {
    width: 100%;
}

.welcome3s {
    position: relative ;
}

.welcome-text {
    display: block;
    position: absolute;
    color: white;
    background-color: rgba(34, 34, 34, 0.651) ;
    top: 10%;
    bottom: 10%;
   
}

.welcome-text h1{
    font-weight: 700;
    padding: 10px;
    font-size: 2rem;
}
/* ADDING STYLE TO welcome button FROM HERE. */
.welcome-button {
    width: 150px;
    font-size: 0.9rem;
    background-color: #c78c06;
    padding: 20px;
   
}
.welcome-text p{
    padding: 10px;
    font-size: 12px;
    font-weight: 100;
}

.welcome-button i{
    color: white;
    text-decoration: none;  
}
.welcome-button a{
    color: white;
    text-decoration: none;
}
.aboutus h2{
    padding: 0px 0px 10px 0px;
    font-size: 2rem;
    font-weight: 700;
}

.aboutus p{
    padding-bottom: 10px;
    font-size: 12px;
}
.aboutus img{
    padding-bottom: 10px;
    width: 100%;
}

.aboutus{
    padding: 10px  20px 10px 10px;
    background-color: #ffe6ac;
}

.services{
    padding: 10px;
}

.services h2{
    font-weight: 700;
    padding: 10px 5px;
    font-size: 2.5rem;
}

.digital p{
    font-size: 12px;
    padding: 10px;
}

.digital h3{
    padding: 10px;
    font-size: 1.7rem;
    font-weight: 700;
}
.digital{
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #ffe6ac;
}

.digital img{
    padding-bottom: 20px;
    width: 100%;
}
/* ADDING STYLE TO buttons HERE. */
.digitalplansbutton a,i{
    color: white;
    text-decoration: none;
}
.digitalplansbutton {
    width: 120px;
    font-size: 16px;
    padding: 30px;
    background-color: #222;
}
.marketing p{
    padding: 10px;
    font-size: 12px;
}

.marketing h3{
    padding: 10px;
    font-size: 1.7rem;
    font-weight: 700;
}
.marketing{
    padding-bottom: 10px;
    background-color: #ffe6ac;
    display: block;
}

.marketing img{
    padding-bottom: 20px;
    width: 100%;
}

.marketplansbutton {
    width: 140px;
    padding: 30px;
    font-size: 16px;
    background-color: #222;
}

.marketplansbutton a,i{
    color: white;
    text-decoration: none;
}

.videopro h3{
    padding-block: 10px;
    font-weight: 700;
    font-size: 1.7rem;
}

.videopro p{
    font-size: 12px;
    padding-bottom: 10px;
}
.videopro{
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #ffe6ac;
    display: block;
}

.videopro img{
    padding-bottom: 20px;
    width: 100%;
}

.videoprobutton {
    width: 120px;
    font-size: 16px;
    background-color: #222;
    padding: 30px;
}

.videoprobutton a,i{
    color: white;
    text-decoration: none;
}

.webdev h3{
    font-weight: 700;
    padding: 10px;
    font-size: 1.7rem;
}

.webdev p{
    font-size: 12px;
    padding: 10px;
}
.webdev{
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: #ffe6ac;
}

.webdev img{
    width: 100%;
}

.webdevbutton {
    font-size: 16px;
    padding: 30px;
    background-color: #222;
    width: 120px;
    
}

.webdevbutton a,i{
    color: white;
    text-decoration: none;
}

.printserv p{
    padding:0px 10px 10px 10px;
    font-size: 12px;
}

.printserv h3{
    padding: 10px;
    font-size: 1.7rem;
    font-weight: 700;
}
.printserv{
    display: block;
    padding-bottom: 10px;
    background-color: #ffe6ac;
}

.printserv img{
    width: 100%;
}
.printservicebutton {
    padding: 30px;
    width: 120px;
    background-color: #222;
    font-size: 16px;
}

.printservicebutton a,i{
    color: white;
    text-decoration: none;
}

.tmsvision img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.tmsvision{
    position: relative;
}

.vistxt{
    color: white;
    padding: 10px;
    position: absolute;
    top: 10%;
    bottom: 10%;
    
}

.vistxt p{
    font-weight: 100;
    padding-bottom: 10px;
    font-size: 12px;
}
.vistxt h3{
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem;
}

.learnmorebutton {
    width: 80px;
    border: 0.5px solid #c78c06;
    padding: 20px;
    font-size: 12px;
    background-color: rgba(34, 34, 34, 0.498);
}

.learnmorebutton a,i{
    color: white;
    text-decoration: none;
}

.ourteam{
    padding-bottom: 10px;
}
.doe img{
    width: 100%;
}

.doetxt{
    padding: 10px;
    background-color: #ffe6ac;
}

.doetxt h3{
    padding-bottom: 10px;
    font-weight: 700; 
    font-size: 2rem;
}
.doetxt p{
    font-size: 12px;
    padding-bottom: 10px;
}

.doetxt h6{
    font-weight: 600;
}

.ritetxt{
    padding: 10px;
    background-color: #ffe6ac;
}

.ritetxt h3{ 
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.ritetxt h6{
    font-weight: 600;
}
.rite{
    padding-bottom: 10px;
}

.rite img{
    width: 100%;
}
.ritetxt p{
    padding-bottom: 10px;
    font-size: 12px;
}

hr{
    border: 1px solid #c78c06;
    color: #c78c06;
}
.contactussection h3{
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.5rem;
}
.contactussection{
    margin: auto;
    padding: 10px;
}

.contactussection h2{
    font-size: 2.5rem;
    padding: 20px 1px 30px 1px;
    font-weight: 700;
}

.formmsg{
    font-size: 18px;
    height: 120px;
    width: 100%;
}
.formbox{
    font-size: 18px;
    width: 100%;
}

.sendbutton{
    color: #c78c06;
    padding: 2px;
    background-color: black;
    font-size: 18px;
}
/* ADDING STYLE TO table FROM HERE. */

.hourofoperation h3{
    font-weight: 700;
    font-size: 2rem;
}

table{
    margin-bottom: 10px;
    width: 100%;
}

table tr th{
    padding: 15px;
    border: 0.5px solid black;
    background-color: #ffe6ac;
    text-align: center;
}

table td{
    border: 0.5px solid black;
    padding: 15px;
}

.map h3{
    font-weight: 700;
    font-size: 2rem;
}
.map{
    padding: 10px;
}

.map iframe{
    height: 400px;
    width: 100%;
}
/* ADDING STYLE TO footer FROM HERE. */
footer{
    padding: 20px 10px 10px 10px;
    color: #c78c06;
    background-color: #222;
}

footer p{
    padding: 10px;
    font-weight: 100;
    color: #c78c06;
    font-size: 10px;
}
footer a{
    text-decoration: none;
    color: #c78c06;
}
/* ADDING desktop media query FROM HERE. */
@media screen and (min-width: 760px) {

    .headcontainer {
        width: 80%;
        display: flex;
    }

    header {
        background-color: #222;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        padding: 30px 10%;
        display: inline-block;
    }

    .nav {
        display: flex;
        font-weight: 500;
        justify-content: space-between;
        padding: 20px;
    }

    .nav ul li {
        display: inline-block;
        justify-content: space-between;
        text-decoration: none;
        color: #c78c06;
        margin: auto;
    }

    .nav a:hover {
        color: #222;
        background-color: #c78c06;
    }
    .nav a {
        padding: 20px;
    }

    .nav a.main {
        color: #222;
        background-color: #c78c06;
    }

    .search-bar input {
        border: none;
        padding: 0px 10px;
        font-size: 1.2rem;
    }
    .search-bar {
        display: flex;
        justify-content: space-around;
    }


    .fa-magnifying-glass {
        background-color: #222;
        padding: 15px;
        border: none;
        color: #c78c06;
    }

    .welcomewrapper {
        background-color: #222;
        width: 80%;
        margin-left: 10rem;
    }
    .welcome3s img {
        height: 550px;
        object-fit: cover;
        width: 100%;
    }

    .welcome3s {
        position: relative;
    }

    .welcome-text {
        background-color: rgba(34, 34, 34, 0.651);
        display: block;
        width: 80%;
        color: white;
    }

    .welcome-container{
        max-width: 1200px;
        width: 75%;
        margin-left: 11rem;
    }
    .welcome-text h1 {
        padding: 20px;
        font-size: 6rem;
        font-weight: 700;
    }
    .welcome-text p {
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .welcome-button {
        margin: 10px;
        background-color: #c78c06;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 2.5rem;
        width: 15rem;
    }

    .welcome-button i {
        color: black;
        text-decoration: none;
    }
    .welcome-button a {
        color: black;
        text-decoration: none;
    }

    .aboutus {
        display: flex;
        padding: 1.2rem;
        background-color: #ffe6ac;
    }

    .aboutuswrapper {
        width: 80%;
        margin: auto;
        align-items: center;
        max-width: 1200px;
    }

    .aboutustxt{
        margin-left: 1rem ;
        width: 50%;
    }
    .aboutus img {
        width: 50%;
        padding-bottom: 10px;
    }

    .aboutustxt h2 {
        padding: 10px;
        font-size: 5rem;
        font-weight: 700;
    }

    .aboutustxt p {
        padding: 10px;
        font-size: 1.2rem;
    }

    .serv {
        padding: 10px;
    }

    .serv h2 {
        font-weight: 700;
        font-size: 3rem;
        padding: 10px 5px;
    }

    .s-container {
        margin: auto;
        width: 80%;
        max-width: 1200px;
        align-items: center;
    }

    .service1{
        display: flex;
    }

    .service2{
        display: flex;
    }

    .serv h3 {
        font-weight: 700;
        font-size: 1.7rem;
        padding: 10px;
    }
    .serv p {
        padding: 10px;
        font-size: 1rem;
    }


    .digital img {
        height: 65%;
        padding-bottom: 20px;
    }

    .digital {
        display: block;
        padding-bottom: 10px;
        background-color: #ffe6ac;
        margin: 0px 10px 10px 10px;
    }

    .digitalplansbutton a,i {
        color: white;
        text-decoration: none;
    }
    .digitalplansbutton {
        background-color: #222;
        text-align: center;
        font-size: 1.5rem;
        width: 85%;
        margin: 10px;
    }

    .digitalplansbutton {
        margin: 0px 10px 10px 10px;
        display: block;
        padding-bottom: 10px;
    }

    .marketing {
        padding-bottom: 10px;
        margin: 0px 10px 10px 10px;
        background-color: #ffe6ac;
        display: block;
    }

    .marketplansbutton {
        width: 85%;
        text-align: center;
        background-color: #222;
        margin: 10px;
        font-size: 1.5rem;
    }

    .marketing img {
        padding-bottom: 20px;
        height: 65%;
    }
    .marketplansbutton a,i {
        color: white;
        text-decoration: none;
    }

    .marketplansbutton {
        padding-bottom: 10px;
        margin: 0px 10px 10px 10px;
        display: block;
    }

    .videopro img {
        height: 45%;
        padding-bottom: 20px;
    }

    .videopro {
        display: block;
        padding: 10px;
        background-color: #ffe6ac;
        margin: 0.5rem;
        margin-bottom: 20px;
    }

    .videoprobutton {
        width: 75%;
        text-align: center;
        font-size: 1.5rem;
        background-color: #222;
        margin: 10px;
    }

    .videoprobutton a,i {
        color: white;
        text-decoration: none;
    }

    .webdev {
        padding: 10px;
        margin: 6rem;
        margin-bottom: 20px;
        background-color: #ffe6ac;
    }

    .webdevbutton {
        text-align: center;
        font-size: 1.5rem;
        margin: 10px;
        background-color: #222;
        width: 75%;
    }

    .webbutton a,i {
        color: white;
        text-decoration: none;
    }
    .webdev img {
        padding-bottom: 20px;
        height: 45%;
    }

    .printserv img {
        height: 46%;
        padding-bottom: 20px;
    }
    .printserv {
        padding: 10px;
        margin: 6rem;
        background-color: #ffe6ac;
        display: block;
    }

    .printservicebutton {
        width: 75%;
        text-align: center;
        margin: 10px;
        font-size: 1.5rem;
        background-color: #222;
    }

    .printservicebutton a,i {
        color: white;
        text-decoration: none;
    }

    .tmsvision img {
        width: 100%;
        object-fit: cover;
        height: 300px;
    }
    .visionwrap {
        max-width: 1200px;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    .tmsvision {
        position: relative;

    }

    .vistxt {
        padding: 10px;
        position: absolute;
        padding: 10px 0px 10px 0px;
        color: white;
        top: 20%;
        bottom: 10%;
    }

    .vistxt p{
        font-size: 1rem;
    }

    .vistxt h3{
        font-size: 2.5rem;
    }

    .learnmorebutton {
        width: 7.5rem;
        border: 0.5px solid #c78c06;
        background-color: rgba(34, 34, 34, 0.498);
        padding: 30px;
        font-size: 1.2rem;
    }

    .learnmorebutton a,i {
        color: white;
        text-decoration: none;
    }

    .ourteam {
        padding: 10px;
    }

    .teamwrap {
        align-items: center;
        max-width: 1200px;
        width: 80%;
        margin: auto;
    }

    .doe {
        display: flex;
    }

    .doe img {
        width: 50%;
    }

    .doetxt {
        padding: 10px;
        width: 50%;
        background-color: #ffe6ac;
    }

    .doetxt h6 {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .doetxt p {
        font-weight: 500;
        font-size: 1.2rem;
    }
    .rite img {
        width: 50%;
    }

    .rite {
        display: flex;
    }

    .ritetxt p {
        font-weight: 500;
        font-size: 1.2rem;
    }
    .ritetxt {
        padding: 10px;
        width: 50%;
        background-color: #ffe6ac;
    }

    .ritetxt h6 {
        font-weight: 600;
        font-size: 1.4rem;
    }

    .contactussection {
        max-width: 1200px;
        padding: 10px;
        margin: auto;
        width: 80%;
    }

    .formmsg{
        width: 100%;
    }

    .formbox{
        width: 100%;
    }
    hr {
        border: 1px solid #c78c06;
        color: #c78c06;
    }

    .hours h3 {
        font-size: 2rem;
        font-weight: 700;
    }

    .hourwrap{
        margin: auto;
        width: 80%;
        align-items: center;
        max-width: 1200px;
    }

    .map iframe {
        height: 400px;
        width: 100%;
    }
    .map {
        align-items: center;
        width: 80%;
        margin: auto;
        max-width: 1200px;
    }

    .map h3 {
        font-weight: 700;
        font-size: 2rem;
    }

    footer {
        padding: 20px 10px 10px 10px;
        color: #c78c06;
        background-color: #222;
    }

    .footwrap {
        align-items: center;
        margin: auto;
        width: 100%;
    }
    .foottxt {
        margin-left: 7rem;
    }
    footer p {
        padding: 10px;
        font-weight: 100;
        color: #c78c06;
        font-size: 10px;
    }

    footer a {
        text-decoration: none;
        color: #c78c06;
    }

}
